.body {
    background-color: aqua;
}
.col {

    width: 10px;
    height: 10px;
    transition: 0.7s; 
    border-radius: 5px;
}
button {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 140px;
    height: 30px;
    border-radius: 30px;
    background: #fff;
    color: #792f2f;
    border: none;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    outline: none;
  }
 
